@{
    ViewData["Title"] = "Contact me";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    El dorado 92<br />
    San Pedro Tlaquepaque, Jalisco, México<br />
    <abbr title="Phone">P:</abbr>
    +52 8116930536
</address>

<address>
    <strong>Mail me:</strong> <a href="mailto:sinuee@gmail.com">sinuee@gmail.com</a><br />
</address>
