@{
    ViewData["Title"] = "About me";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Simulation, Algoritms, Bussines cycles, 3D Models, front end, Desktop app, Web app, MVC, SOA, ASP.Net ,  .Net Core.</p>
